body{
    font-family: Georgia, serif;
    font-size: 0.8rem;
}

#container{
    min-height: 100%;
    background-color: #FFFAED;
}

#container-inner{
    height: 100%;
}

#header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #438383;
    z-index: 1;
}

#column-ul{
    margin-left: 2rem;
}

#column-ul li{
    float: left;
    height: 3rem;
    line-height: 3rem;
    margin-right: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#column-ul #homepage{
    font-size: 1.2rem;
}

#search{
    margin-right: 1rem;
    position: relative;
}

#search-in{
    width: 10rem;
    padding-right: 3rem;
    height: 2rem;
    border-radius: 1.5rem;
    border: 1px solid #f0ad4e;
    text-indent: 0.9rem;
    font-size: 0.8rem;
}

#submit-in{
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 2rem;
    padding: 0.3rem;
    border: 0;
    cursor: pointer;
    background-image: url("../../../resource/front/image/search.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
}

#content{
    min-height: 100%;
    background-color: #e2d5b3;
    padding-top: 3rem;
    border-right: 1rem solid #438383;
    border-left: 1rem solid #438383;
    overflow: hidden;
}

#article-list{
    width: 58%;
    margin: 1%;
}

#article-list .article-item{
    width: 100%;
    margin-bottom: 2%;
    padding: 0.8rem 1.0rem 0.8rem 1.2rem;
    background-color: #fffaed;
}

#article-list .article-item .article-title{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#article-list .article-item .article-summary{
    font-size: 1.0rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

#article-list .article-item .article-msg .article-publishTime{
    margin-bottom: 0.5rem;
}

#article-list .article-item .article-msg .tag-msg{
    font-size: 1rem;
    font-weight: bold;
}

#article-list .article-item .article-msg .tag-item{
    font-size: 0.9rem;
    color: #dd230a;
}

#article-list .article-item .article-msg .right{
    position: relative;
    width: 6rem;
    height: 2.5rem;
    padding: 0 1rem 0 3rem;
    line-height: 2.5rem;
    margin: 0.5rem 0 0 1rem;
    border-radius: 1.25rem;
    background-color: #dcd5c3;
    text-align: center;
    cursor: pointer;
}

#article-list .article-item .article-msg .right i{
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
}

#article-list .article-item .article-msg .right span{
    color: #a69e8a;
    font-size: 1.0rem;
}

#article-list .article-item .article-msg .comment-msg i{
    background-image: url("../../../resource/front/image/ico_reply.png");
}

#article-list .article-item .article-msg .click-msg i{
    background-image: url("../../../resource/front/image/ico_fulltext.png");
}

#article-correlation{
    width: 38%;
    margin: 1%;
    background-color: #fff;
}

#article-correlation #category .category-msg{
    position: relative;
    width: 6rem;
    height: 2.5rem;
    padding: 0 1rem 0 3rem;
    line-height: 2.5rem;
    margin: 0.5rem;
    border-radius: 1.25rem;
    background-color: #d5331c;
    text-align: center;
    cursor: pointer;
}

#article-correlation #category .category-msg i{
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/tag.png");
}

#article-correlation #category .category-msg span{
    color: #ffffff;
    font-size: 1.0rem;
}

#article-correlation #category-box{
    background-color: #b2aa96;
    margin: 0.7rem 0.5rem;
}

#article-correlation #category-box:before{
    content: '';
    display: inline-block;
    border-right: 0.8rem solid #ffffff;
    border-left: 0.8rem solid #b2aa96;
    border-top: 0.4rem solid #ffffff;
    border-bottom: 0.4rem solid #b2aa96;
    position: relative;
    left: 6.0rem;
    top: -0.8rem;
}

#article-correlation #category-box ul li{
    position: relative;
    display: inline-block;
    height: 2.5rem;
    padding: 0 1rem 0 3rem;
    line-height: 2.5rem;
    margin: 0.5rem;
    border-radius: 1.25rem;
    background-color: #dcd5c3;
    color: #a69e8a;
    cursor: pointer;
}

#article-correlation #category-box ul li i{
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/tag_null.png");
}