/* 下方进入效果 */
@keyframes translate_huandong {
    from{transform: translate(0,100%); opacity: 0.0}
    90%{transform: translate(0,-10%); opacity: 1.0}
    to{transform: translate(0,0); opacity: 1.0}
}
@-webkit-keyframes translate_huandong {
    from{-webkit-transform: translate(0,100%); opacity: 0.0}
    90%{-webkit-transform: translate(0,-10%); opacity: 1.0}
    to{-webkit-transform: translate(0,0); opacity: 1.0}
}

/* 放大摇动 */
@keyframes scale_yaodong {
    from {
        transform: translateY(-3%) scale(0.9) rotate(5deg);
    }
    20% {
        transform: translateY(-3%) scale(1.2) rotate(-4deg);
    }
    40% {
        transform: translateY(-3%) scale(1.1) rotate(3deg);
    }
    60% {
        transform: translateY(-3%) scale(1.1) rotate(-2deg);
    }
    80% {
        transform: translateY(-3%) scale(1.1) rotate(1deg);
    }
    to {
        transform: translateY(-3%) scale(1.1) rotate(0);
    }
}

@-webkit-keyframes scale_yaodong {
    from {
        -webkit-transform: translateY(-3%) scale(0.9) rotate(5deg);
    }
    20% {
        -webkit-transform: translateY(-3%) scale(1.2) rotate(-4deg);
    }
    40% {
        -webkit-transform: translateY(-3%) scale(1.1) rotate(3deg);
    }
    60% {
        -webkit-transform: translateY(-3%) scale(1.1) rotate(-2deg);
    }
    80% {
        -webkit-transform: translateY(-3%) scale(1.1) rotate(1deg);
    }
    to {
        -webkit-transform: translateY(-3%) scale(1.1) rotate(0);
    }
}

#search:hover .scale_yaodong {
    animation: scale_yaodong 0.5s linear 0s 1 both;
    -webkit-animation: scale_yaodong 0.5s linear 0s 1 both;
}

#article-list .comment-msg:hover .scale_yaodong, #article-list .click-msg:hover .scale_yaodong {
    animation: scale_yaodong 0.5s linear 0s 1 both;
    -webkit-animation: scale_yaodong 0.5s linear 0s 1 both;
}

#category .category-msg:hover .scale_yaodong, #category-shrink .category-msg:hover .scale_yaodong{
    animation: scale_yaodong 0.5s linear 0s 1 both;
    -webkit-animation: scale_yaodong 0.5s linear 0s 1 both;
}

#category .category-box ul li:hover .scale_yaodong, #category-shrink .category-box ul li:hover .scale_yaodong{
    animation: scale_yaodong 0.5s linear 0s 1 both;
    -webkit-animation: scale_yaodong 0.5s linear 0s 1 both;
}

#article-correlation #archives-msg:hover .scale_yaodong {
    animation: scale_yaodong 0.5s linear 0s 1 both;
    -webkit-animation: scale_yaodong 0.5s linear 0s 1 both;
}

#article-correlation #archives-box ul li:hover .scale_yaodong{
    animation: scale_yaodong 0.5s linear 0s 1 both;
    -webkit-animation: scale_yaodong 0.5s linear 0s 1 both;
}

/*文章出现效果*/
#article-list .article-item{
    transition: all .4s;
    -webkit-transition: all .4s;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective( 100px ) rotateX(1deg) scale(.9);
    transform: perspective( 100px ) rotateX(1deg) scale(.9);
    opacity: 0;
}

#article-list .article-item.show{
    -webkit-transform: perspective( 100px ) rotateX(0) scale(1);
    transform: perspective( 100px ) rotateX(0) scale(1);
    opacity: 1;
}

#article-list .article-item:hover{
    background-color: #FFFEFA;
    box-shadow: 0 1px 20px rgba(121, 105, 64, 0.26);
    transform: translate(0, -2px);
}

/*搜索框效果*/
#search-in:focus{
    opacity: 1;
    width: 12rem;
    background-color: #ffffff;
}

#search-in:hover{
    border-color: #f3930c;
}



/*主页基本样式开始*/
body {
    font-family: Georgia, serif;
    font-size: 0.8rem;
}

#container {
    min-height: 100%;
    background-color: #FFFAED;
}

#container-inner {
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #438383;
    z-index: 1;
}

#column-ul {
    margin-left: 2rem;
}

#column-ul li {
    float: left;
    height: 3rem;
    line-height: 3rem;
    margin-right: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
}

#column-ul li:hover{
    font-size: 1.6rem;
}

#column-ul .active {
    font-size: 1.6rem;
}

#nav-column{
    display: none;
    width: 100%;
    height: 3rem;
    background-color: #1A1512;
    box-shadow: 0 0 0.5rem #000;
    -webkit-box-shadow: 0 0 0.5rem #000;
    -moz-box-shadow: 0 0 0.5rem #000;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.menu-show #nav-column{
    height: 25rem;
}

#logo{
    width: 55%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    color: #1A1512;
    font-weight: bolder;
    background-color: #d5331c;
}

#mobile-menu .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.25rem 0.5rem;
    border: .15rem solid #438383;
    border-radius: 50%;
    transition: all .4s;
    -webkit-transition: all .4s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}

.menu-show #mobile-menu .icon{
    border-color: #438383;
}

#mobile-menu:hover .icon{
    border-color: #d5331c;
}

#mobile-menu:hover .icon:before{
    width: 0.35rem;
    height: 0.35rem;
    background-color: #d5331c;
    box-shadow: 0 0.5rem 0 #d5331c;
    -webkit-box-shadow: 0 0.5rem 0 #d5331c;
    -moz-box-shadow: 0 0.5rem 0 #d5331c;
}

.menu-show #mobile-menu:hover .icon:before{
    width: 1.4rem;
    height: 0.35rem;
    background-color: #d5331c;
    box-shadow: 0 0 0;
    transform: translateX(50%) rotate(135deg);
}

#mobile-menu .icon:before{
    content: '';
    display: block;
    width: 1.4rem;
    height: 0.25rem;
    border-radius: 1000%;
    background-color: #438383;
    box-shadow: 0 0.5rem 0 #438383;
    -webkit-box-shadow: 0 0.5rem 0 #438383;
    -moz-box-shadow: 0 0.5rem 0 #438383;
    transition: all .4s;
    -webkit-transition: all .4s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}

.menu-show #mobile-menu .icon:before{
    box-shadow: 0 0 0 #438383;
    -webkit-box-shadow: 0 0 0 #438383;
    -moz-box-shadow: 0 0 0 #438383;
    background-color: #438383;
    transition: all .4s;
    -webkit-transition: all .4s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -webkit-transform: translateX(50%) rotate(45deg);
    -moz-transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    -o-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
}

#mobile-menu .icon:after{
    content: '';
    display: block;
    width: 1.4rem;
    height: 0.25rem;
    border-radius: 1000%;
    background-color: #438383;
    box-shadow: 0 -0.5rem 0 #438383;
    -webkit-box-shadow: 0 -0.5rem 0 #438383;
    -moz-box-shadow: 0 -0.5rem 0 #438383;
    transition: all .4s;
    -webkit-transition: all .4s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu-show #mobile-menu .icon:after{
    box-shadow: 0 0 0 #438383;
    -webkit-box-shadow: 0 0 0 #438383;
    -moz-box-shadow: 0 0 0 #438383;
    background-color: #438383;
    transition: all .4s;
    -webkit-transition: all .4s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -webkit-transform: translateX(-50%) rotate(135deg);
    -moz-transform: translateX(-50%) rotate(135deg);
    -ms-transform: translateX(-50%) rotate(135deg);
    -o-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
}

#mobile-menu:hover .icon:after{
    width: 0.35rem;
    height: 0.35rem;
    background-color: #d5331c;
    box-shadow: 0 -0.5rem 0 #d5331c;
    -webkit-box-shadow: 0 -0.5rem 0 #d5331c;
    -moz-box-shadow: 0 -0.5rem 0 #d5331c;
}

.menu-show #mobile-menu:hover .icon:after{
    width: 1.4rem;
    height: 0.35rem;
    background-color: #d5331c;
    box-shadow: 0 0 0;
    transform: translateX(-50%) rotate(225deg);
}

#nav{
    margin: 3rem 2rem 0 2rem;
}

.menu-show #nav ul li{
    float: left;
    width: 33.33%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    animation: translate_huandong 0.2s linear .5s 1 both;
    -webkit-animation: translate_huandong 0.2s linear .5s 1 both;
}

#nav ul li i{
    display: block;
    width: 4rem;
    height:4rem;
    margin: 0 auto 0.5rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/homepage.png");
}

.menu-show #nav ul li:hover i{
    animation: scale_yaodong 0.5s linear 0s 1 both;
    -webkit-animation: scale_yaodong 0.5s linear 0s 1 both;
}

#category-shrink{
    display: none;
}

#category-shrink .category-box{
    display: none;
}

#category-shrink .category-box.show{
    display: block;
}

#category-shrink .category-msg{
    position: relative;
    width: 6rem;
    height: 2.0rem;
    padding: 0 1rem 0 3rem;
    line-height: 2.0rem;
    margin: 0.5rem 1rem;
    border-radius: 1.25rem;
    text-align: center;
    cursor: pointer;
    background-color: #f0ad4e;
}

#category-shrink .category-msg.show {
    background-color: #d5331c;
}

#category-shrink .category-msg:hover{
    opacity: 0.8;
}

#category-shrink .category-msg i {
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/tag.png");
}

#category-shrink .category-msg span{
    color: #ffffff;
    font-size: 1.0rem;
}

#search {
    margin-right: 1rem;
    position: relative;
}

#search-in {
    width: 8rem;
    padding-right: 3rem;
    height: 2rem;
    border-radius: 1.5rem;
    border: 1px solid #f0ad4e;
    text-indent: 0.9rem;
    font-size: 0.8rem;
    background-color: #fffaed;
    transition: all .4s;
    -webkit-transition: all .4s;
}

#submit-in {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 2rem;
    padding: 0.3rem;
    border: 0;
    cursor: pointer;
    background-image: url("../../../resource/front/image/search.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
}

#content {
    min-height: 100%;
    background-color: #e2d5b3;
    padding-top: 3rem;
    border-right: 1rem solid #438383;
    border-left: 1rem solid #438383;
    overflow: hidden;
}

#article-list {
    width: 58%;
    margin: 1%;
    transition: all .4s;
    -webkit-transition: all .4s;
}

#article-list .article-item {
    width: 100%;
    margin-bottom: 2%;
    padding: 0.8rem 1.0rem 0.8rem 1.2rem;
    background-color: #fffaed;
}

#article-list .article-item .article-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#article-list .article-item .article-title a{
    color: #000;
    text-decoration: none;
}

#article-list .article-item .article-title a:hover{
    color: #dd230a;
    text-decoration: underline;
    text-underline: #dd230a;
}

#article-list .article-item .article-summary {
    font-size: 1.0rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

#article-list .article-item .article-msg .article-publishTime {
    margin-bottom: 0.5rem;
}

#article-list .article-item .article-msg .tag-msg {
    font-size: 1rem;
    font-weight: bold;
}

#article-list .article-item .article-msg .tag-item {
    font-size: 0.9rem;
    color: #dd230a;
}

#article-list .article-item .article-msg .right {
    position: relative;
    width: 6rem;
    height: 2.5rem;
    padding: 0 1rem 0 3rem;
    line-height: 2.5rem;
    margin: 0.5rem 0 0 1rem;
    border-radius: 1.25rem;
    background-color: #dcd5c3;
    text-align: center;
    cursor: pointer;
}

#article-list .article-item .article-msg .right:hover{
    background-color: #438383;
}

#article-list .article-item .article-msg .right i {
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
}

#article-list .article-item .article-msg .right span {
    color: #a69e8a;
    font-size: 1.0rem;
}

#article-list .article-item .article-msg .comment-msg i {
    background-image: url("../../../resource/front/image/ico_reply.png");
}

#article-list .article-item .article-msg .click-msg i {
    background-image: url("../../../resource/front/image/ico_fulltext.png");
}

#article-correlation {
    width: 38%;
    margin: 1%;
    padding: 0.5rem;
    background-color: #438383;
    transition: all .4s;
    -webkit-transition: all .4s;
}

#article-correlation .separation-line {
    margin: 0.5rem 0.5rem 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    background-image: url("../../../resource/front/image/separation-line.png");
}

#category {
    margin-bottom: 2rem;
}

#category .category-msg,#archives #archives-msg {
    position: relative;
    width: 6rem;
    height: 2.5rem;
    padding: 0 1rem 0 3rem;
    line-height: 2.5rem;
    margin: 0.5rem;
    border-radius: 1.25rem;
    text-align: center;
    cursor: pointer;
}

#category .category-msg {
    background-color: #d5331c;
}

#category .category-msg:hover{
    opacity: 0.8;
}

#category .category-msg i,#archives #archives-msg i {
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
}

#category .category-msg span,#archives #archives-msg span {
    color: #ffffff;
    font-size: 1.0rem;
}

.category-box, #article-correlation #archives-box {
    background-color: #b2aa96;
    margin: 0.7rem 0.5rem;
    border-radius: 1rem;
}

.category-box:before,archives-box:before {
    content: '';
    line-height: 0;
    font-size: 0;
    display: inline-block;
    border-right: 0.8rem solid rgba(250,250,250,0);
    border-left: 0.8rem solid #b2aa96;
    border-top: 0.4rem solid rgba(250,250,250,0);
    /*border-top: 0.4rem solid #438383;*/
    border-bottom: 0.4rem solid #b2aa96;
    position: relative;
    left: 6.0rem;
    top: -0.7rem;
}

.category-box ul,#archives-box ul {
    padding: 0.5rem 0.5rem 1.0rem;
}

.category-box ul li {
    position: relative;
    display: inline-block;
    height: 2.5rem;
    padding: 0 1rem 0 3rem;
    line-height: 2.5rem;
    margin: 0.5rem;
    border-radius: 1.25rem;
    background-color: #dcd5c3;
    color: #a69e8a;
    cursor: pointer;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.category-box ul li:hover{
    background-color: #9e48b4;
    color: #f3930c;
}

.category-box ul li i {
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/tag_null.png");
}

#category .category-msg i {
    background-image: url("../../../resource/front/image/tag.png");
}

#archives #archives-msg i {
    background-image: url("../../../resource/front/image/archive.png");
}

#archives #archives-msg {
    background-color: #f0ad4e;
}

#archives #archives-msg:hover{
    opacity: 0.8;
}

#archives-box ul li {
    height: 2.0rem;
    line-height: 2.0rem;
    margin: 0 0.5rem;
    border-bottom: 1px dashed #438383;
    cursor: pointer;
    transition: all .4s;
    -webkit-transition: all .4s;
}

#archives-box ul li:hover{
    background-color: #bfb59b;
    padding: 0 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#archives-box ul li i {
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    vertical-align: middle;
    margin-right: 0.3rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/article.png");
}

#loading{
    clear: both;
    height: 2rem;
    margin: 2rem auto 4rem;
    background-color: #e2d5b3;
    text-align: center;
    line-height: 2rem;
    display: none;
}

#loading .scale-item{
    display: inline-block;
    height: 2rem;
    width: 0.5rem;
    margin: 0.1rem;
    background-color: #438383;
    -webkit-animation: loadingScale .8s infinite ease-in-out;
    animation: loadingScale .8s infinite ease-in-out;
}

#loading .scale-item:nth-child(1){
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#loading .scale-item:nth-child(2){
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

#loading .scale-item:nth-child(3){
    -webkit-animation-delay: -1.3s;
    animation-delay: -1.3s;
}

#loading .scale-item:nth-child(4){
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
}

#loading .scale-item:nth-child(5){
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

@keyframes loadingScale {
    0%, 40% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(0.8);
        -webkit-transform: scaleY(0.8);
    }
    20% ,80%{
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
    }
}

#loadingCompleted{
    clear: both;
    height: 5rem;
    margin: 2rem auto 4rem;
    background-color: #e2d5b3;
    text-align: center;
    line-height: 5rem;
    display: none;
}

#loadingCompleted i{
    display: inline-block;
    height: 5rem;
    width: 5rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/remen.png");
}

#loadingCompleted span{
    display: inline-block;
    color: #438383;
    font-size: 1.0rem;
    vertical-align: middle;
}

/*主页基本样式结束*/



/*文章详情基本样式开始*/

#article-detail,#comment{
    margin: 2rem auto;
    width: 65%;
    min-width: 640px;
    max-width: 940px;
    background-color: #FFFAED;
}

#comment{
    padding: 2rem 1.2rem;
}

.avatar{
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-image: url("../../../resource/front/image/avatar_blank.jpg");
}

.comment-form-info{
    margin-left: 4rem;
}

.comment-form-info .input-wrap{
    width: 25%;
    float: left;
    padding-right: 1%;
}

.comment-form-info .input-wrap:last-child{
    width: 50%;
    padding-right: 0;
}

.comment-form-info .input-wrap input{
    width: 100%;
    height: 2rem;
    text-indent: 0.5rem;
    border: 1px solid #dcd5c3;
}

.comment-form-info .comment-form-text textarea{
    border: 1px solid #dcd5c3;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.comment-form-info .comment-form-btn{
    text-align: right;
    margin-top: 0.5rem;
}

.comment-form-info .comment-form-btn span{
    color: #ACA491;
    display: inline-block;
    margin-right: 1rem;
}

.comment-form-info .comment-form-btn button{
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    background-color: #ef4242;
    border: none;
    color: #fff;
}

#comment-list .comment-item{
    margin-top: 0.8rem;
    padding-top: 0.8rem;
    border-top: 1px solid #e2e2e2;
}

#comment-list .comment-wrap{
    padding-left: 4rem;
}

#comment-list .comment-wrap .username{
    color: #ef3a3a;
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    white-space: nowrap;
}

#comment-list .comment-wrap .comment-text{
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0.3rem auto;
}







/*文章详情基本样式结束*/

/*响应布局*/
@media only screen and (max-width: 768px){
    #content{
        padding-bottom: 3rem;
    }
    #content #article-list{
        width: 96%;
        margin: 2%;
    }
    #content #article-correlation{
        display: none;
    }
    #column{
        display: none;
    }
    #nav-column{
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    #category-shrink{
        display: block;
    }
    #search{
        position: fixed;
        right: 0;
        top: 0.5rem;
        z-index: 3;
    }
    #article-detail,#comment{
        width: 96%;
        min-width: 0px;
    }
}

@media only screen and (max-width: 500px) {
    #content #article-list .article-msg .left{
        float: none;
    }
    .comment-form .avatar-wrap{
        display: none;
    }
    .comment-form-info{
        margin: 0;
    }
}