

.article-title{
    margin: 1% 5%;
}

.article-title .left>div{
    margin: 10px 5px 10px 0px;
}

.article-title .left h3{
    white-space: nowrap;
    text-align: left;
    margin-bottom: 10px;
}

.article-title .left input{
    width: 300px;
    height: 35px;
    line-height: 35px;
    text-indent: 0.5rem;
    border: 1px solid #3c8dbc;
    border-radius: 5px;
    background-color: #eee;
    outline: none;
}

.article-title .left input:focus{
    background-color: #fff;
}

.article-title .right .btnDiv{
    margin: 10px 0px 5px;
    text-align: right;
}

.article-title .left .categoryDiv .categoryList{
    width: 300px;
    height: 35px;
    line-height: 35px;
    text-indent: 0.5rem;
    border: 1px solid #3c8dbc;
    border-radius: 5px;
    background-color: #eee;
    text-align: left;
    cursor: pointer;
}

.article-title .left .categoryUl {
    position: relative;
}

.article-title .left .categoryUl ul{
    position: absolute;
    width: 100%;
    z-index: 11;
    background: #fff;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.article-title .left .categoryUl li{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-indent: 5px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.article-title .left .categoryUl li.choseCategory{
    background-color: #eee;
}

.article-title button{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #3c8dbc;
    color: #ffffff;
    border:1px solid #d7d4f0;
    font-size: 12px;
}

.article-title button:hover{
    cursor: pointer;
    opacity: 0.8;
}
