@CHARSET "UTF-8";
* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

img {
    border: none;
    vertical-align: middle;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;
}

.clear:before {
    content: '';
    display: table;
}

.clear:after {
    content: '';
    display: block;
    line-height: 0;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.noContent{
    margin: 20px 0 5px;
    line-height: 1.5;
    font-size: 20px;
}

body {
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", Helvetica, Tahoma, "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    background: #fff;
    text-align: center;
}

.wrapper {
    min-height: 100%;
}

header {
    position: relative;
    z-index: 1;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
}

.head-left {
    width: 230px;
    background-color: #367fa9;
}

.head-right {
    /*margin-left: 230px;*/
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 0 2%;
    background-color: #3c8dbc;
}

.main-left {
    position: absolute;
    top: 0;
    width: 230px;
    padding-top: 50px;
    height: 100%;
    background-color: #222d32;
}

.main-right {
    margin-left: 230px;
}

.main-left .user-panel {
    white-space: nowrap;
    padding: 5%;
}

.main-left .user-panel .left {
    max-width: 45px;
}

.main-left .user-panel .left img {
    width: 100%;
    border-radius: 50%;
}

.main-left .user-panel .right {
    line-height: 1;
    width: 60%;
    padding: 5px 5px 5px 15px;
    float: left;
}

.main-left .user-panel .right p{
    text-align: left;
    margin-top: 5px;
}

.main-left .user-panel .right p:nth-child(2){
    font-size: 10px;
}

.main-left .search-bar{
    display: table;
    width: 100%;
    border-radius: 3px;
    /*border: 1px solid #374850;*/
    padding: 10px 10px;
}

.main-left .search-bar input{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    outline: none;
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    width: 80%;
    color: #666;
    text-indent: 0.5rem;
    padding: 6px 5px;
    font-size: 14px;
    vertical-align: middle;
}

.main-left .search-bar input:focus{
    background-color: #fff;
}

.main-left .search-bar form{
    display: table;
}

.main-left .search-bar button{
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    width: 20%;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.main-right section.content{
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-right .box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.main-right .box .box-header{
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
}

.main-right .box .box-body{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.main-right .box-body>.table {
    width: 100%;
    margin-bottom: 0;
    border: 1px solid #f4f4f4;
    border-collapse: collapse;
}
.table tbody>tr>td ,.table thead>tr>th{
    border: 1px solid #a59d9d;
    padding: 8px;
    font-weight: 400;
    font-size: 12px;
    vertical-align: middle;
}

.table thead>tr>th{
    border: 1px solid #000000;
    padding: 12px;
    font-weight: 800;
    font-size: 14px;
    vertical-align: middle;
}

.main-right .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.pagination>ul{
    border: 1px solid #dddddd;
}

.pagination>li {
    float: left;
    display: inline-block;
}

.pagination>li:first-child>a{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination>li:last-child>a{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination>li.pageActive>a{
    background: #dddde4 !important;
}

.pagination>li>a {
    display: block;
    background: #fafafa;
    color: #666;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
